{{js "/js/validation.js"}}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="card col-6">
      <div class="card-body ">
        <form action="/users/register" class="needs-validation" method="POST" novalidate>
          <h1 class="card-title text-center mb-4 pb-3 border-bottom">Register</h1>
          <div class="form-group">
            <label for="name">Name*</label>
            <input class="form-control" id="name" name="name" type="text">
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input class="form-control" id="email" name="email" type="email">
          </div>
          <div class="form-group">
            <label for="password">password*</label>
            <input class="form-control" id="password" name="password" type="password">
          </div>
          <div class="form-group">
            <label for="confirmPassword">confirm password*</label>
            <input class="form-control" id="confirmPassword" name="confirmPassword" type="password">
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>